<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Database</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>


    <div class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/movies">Movies</a>
            <a class="nav-item nav-link" href="/stars">Stars</a>
        </div>
    </div>
    


    <div class="container mt-5">
        <h1 class="text-center">Welcome to the Movie Database</h1>
        <form action="/movies" method="get" class="mt-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for movies" name="search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>